@model IEnumerable<TwentyTwoVzn.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Service.ServiceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemName)
    </td>
    <td>
        @if (item.ItemImage != null)
        {
            var base64 = Convert.ToBase64String(item.ItemImage);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

            <img src='@imgsrc' height="120" width="120" style="padding:5px" class="img-rounded" />
        }
    </td>
    <td>
       R @Html.DisplayFor(modelItem => item.ItemPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemDetails)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
    </td>
</tr>
}

</table>
