@model TwentyTwoVzn.Models.Business

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
