@model IEnumerable<TwentyTwoVzn.Models.Service>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var jsonString = JsonConvert.SerializeObject(Model.Select(x => new TwentyTwoVzn.Models.Service { ServiceID = x.ServiceID, ServiceLocation = x.ServiceLocation }));
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Services</h1>
                <span>Bringing People Closer!!</span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="single-services com-md-6">
        <div class="container">
            <div class="row" id="tabs">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <ul>
                            <li><a href='#tabs-1'>@item.ServiceName <i class="fa fa-angle-right"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-8">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                @if (item.ServiceImage != null)
                                {
                                    var base64 = Convert.ToBase64String(item.ServiceImage);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                    <img src='@imgsrc' height="300" width="250" style="padding:5px" class="img-rounded" />
                                }
                                <h4>@item.ServiceName</h4>
                                <p>
                                    @item.ServiceDetails
                                    <br>
                                    @item.ServiceLocation
                                    <div>Location :<span>@item.ServiceLocation </span> </div>

                                    <br>
                                    <div>Distance :<span id="distance-@item.ServiceID"></span> </div>
                                    <a href="/Home/Items/?id=@item.ServiceID" class="filled-button">Browse Items</a>
                                    <a href="/Home/Items/?id=@item.ServiceID" class="btn btn-lg btn-outline-primary">Browse Items</a>
                                </p>

                            </article>

                        </section>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Partial("_map", Model)
    </div>
</div>

<div class="callback-form callback-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>interdum nisl ac urna tempor mollis</span>
                </div>
            </div>

        </div>
    </div>
</div>

